@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@import './styles/variables.css';
@import './styles/layout.css';
@import './styles/buttons.css';
@import './styles/cards.css';
@import './styles/modal.css';
@import './styles/forms.css';

html {
  color-scheme: dark;
}

body {
  background-color: var(--bg-primary);
  color: var(--text-primary);
}

/* Hide scrollbar for Settings pages */
.overflow-auto::-webkit-scrollbar {
  display: none;
}
.overflow-auto {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
